{# {content}#}
<br>

{#%for student in data%}
	{{student}}<br>
{#/foreach#}
{#  % endfor %#}
<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
	{{ content|raw }}
</div>

<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
	<p>Цукерки відміняються. Аніме керує світом.</p>
</div>

<table class="w3-table-all">
	<tr class="w3-blue">
		<th>ID</th>
		<th>Назва аніме</th>
		<th>Кількість серій</th>
		<th>Дія</th>
	</tr>
	{% for student in data %}
		<tr class="w3-hover-light-grey">
			<td>{{ student.id }}</td>
			<td>{{ student.name }}</td>
			<td>{{ student.age is defined ? student.age : '0' }}</td>
			<td>
				<a href="/home/delete?id={{ student.id }}" class="w3-button w3-red">Видалити</a>
			</td>
		</tr>
	{% endfor %}
</table>

<div class="w3-container w3-blue w3-padding-16 w3-margin-top">
	{% include 'form.twig' %}
</div>
